<h1 style="font-size: xx-large;"> DELETE SHOWING</h1>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Select Date</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Select Time</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Select ShowRoomNo</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Select BranchID</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>
</div>
  
<button mat-button routerLink="/adminPage">Back</button>
<button mat-button routerLink="/adminPage">Submit</button>
