<mat-card style="background-color: rgb(255, 255, 255);">
    <header style="font-size: 500%; padding-top:25px;"> About</header>
</mat-card>
<mat-card style = "background-color: rgb(255, 255, 255); padding-bottom: 90%;">
    <p style="padding-top: 10px; padding-left: 10px; font-size: large;"> 
        Movie Master takes the current solution for online movie theater booking one step further by consolidating all movie theaters under one ticket booking 
        application. Customers will be able to select their desired region, view movie showtimes and availability in that region, and reserve seats by purchasing tickets. 
        The application will make it easier for customers to be able to book tickets at their own convenience and to be able to track data on movie showtimes and availability 
        across all filtered theaters. Customers will be able to buy tickets for movies at different show times and in different theaters all from one website. Seat availability 
        will be monitored to ensure there are no double bookings for a specific showing of a movie. Admins will be able to update and moderate movie showtimes and prices. The 
        development of this project will produce a database to store user and theater information. A website and an interface that will let users purchase and view movie 
        showtimes will also be produced. Users will be able to create accounts that will allow them to view showtimes, store their information for future use, and complete 
        transactions.

    </p>
</mat-card>