<h1 style="font-size: xx-large;"> TICKET SELECT</h1>

<p>This page will display information about the movie showing, movie, branch, and showroom and allow customers to select from a drop down menu of available tickets which
    one they wish to purchse.
</p>
<p>
    It will then direct them to the checkout page via a checkout button where they will confirm their purchase. This will update the database
    so no other person can purcahse the same tickets for the showing.
</p>

<div class="checkout">
    <button mat-button routerLink="/checkout">Checkout</button>
</div>
