<!-- <h1 style="font-size: xx-large;"> ADD MOVIE PRODUCER</h1>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Select MovieTitle</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input ProducerName</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<button mat-button routerLink="/adminPage">Back</button>
<button mat-button routerLink="/adminPage">Submit</button> -->