<h1 style="font-size: xx-large;"> ADMIN LOGIN</h1>
<mat-card>
    <div class="Email">
      <mat-form-field appearance="fill">
        <mat-label>Enter admin email</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    </div>
  
    <div class="Password">
      <mat-form-field appearance="fill">
        <mat-label>Enter admin password</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    </div>
    <!-- set up validation -->
    <!-- Have it take to home but know can purcahse tickets ... before login user cant buys tickets -->
    <div class="submit">
      <button mat-button routerLink="/adminPage">Submit</button>
    </div>
  </mat-card>
