<h1 style="font-size: xx-large;"> ADD MOVIE</h1>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input MovieTitle</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input Runtime</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input Description</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>InputAdminEmail</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>
  
<button mat-button routerLink="/adminPage">Back</button>
