<!-- <h1 style="font-size: xx-large;"> ADD SHOWROOM</h1>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Select BranchID</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input NumberOfSeats</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input ShowRoomType</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input SeatType</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<button mat-button routerLink="/adminPage">Back</button>
<button mat-button routerLink="/adminPage">Submit</button> -->