<!-- 
 - When validating login info., if admin route to admin page instead which will let admins update db information
 - will need a new admin component
-->
<h1 style="font-size: xx-large;"> LOGIN</h1>
<mat-card style = "background-color: rgb(255, 255, 255);">
  <div class="Email">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
  </div>

  <div class="Password">
    <mat-form-field appearance="fill">
      <mat-label>Enter you password</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
  </div>
  <!-- set up validation -->
  <!-- Have it take to home but know can purcahse tickets ... before login user cant buys tickets -->
  <div class="submit">
    <button style = "background-color: rgb(255, 255, 255);" mat-button routerLink="/">Submit</button>
  </div>
</mat-card>

<!-- <mat-card style = "background-color: rgb(255, 255, 255);"> -->
<div class="Admin Login">
  <button mat-button routerLink="/adminlogin">Admin Login</button>
</div>
<!-- </mat-card> -->

  
