<!-- <mat-card style="background-color: rgb(187, 202, 239);">
    <header style="font-size: 500%; padding-top:25px;"> Purchase Success!</header>
</mat-card>
<mat-card style = "background-color: rgb(255, 255, 255); padding-bottom: 90%;">
    <p style="padding-top: 100px; padding-left: 100px; font-size: large;"> 
       Your ticket(s) have been purchased, and a reciept has been emailed to {{globals.buyerEmail}}.
    </p>
    <p style="padding-top: 100px; padding-left: 100px; font-size: large;"> 
        Thank you for shopping with Movie Master!
     </p>
 
</mat-card> -->