<h1 style="font-size: xx-large;"> ADD BRANCH</h1>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input BranchName</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input Address</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
      <mat-label>Input TheaterName</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
</div>
  
<button mat-button routerLink="/adminPage">Back</button>
<button mat-button routerLink="/adminPage">Submit</button>

